%bszbb
	@include box-sizing(border-box)




/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */

%center
	width: $page_w
	margin: auto


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	min-width: $page_w
	max-width: $page_w_max
	padding-left: 40px
	padding-right: 40px
	+box-sizing(border-box)

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */

.page
	min-width: $page_w_min
	&__header
		//background: #adf785

	&__body
		@extend %center

	&__footer
		position: relative
		//background: #f1acf2

	
/* page
/* ---------------------------------------END--- */


/* header
/* --------------------------------------------- */

.header
	$height: 192px

	position: relative
	height: $height

	&:before
		content: ''
		display: block
		position: absolute
		right: 0
		bottom: -7px
		height: 7px
		left: 0
		background: url("../img/zigzag.png") 0 0 repeat-x
		z-index: 100

	&__body
		position: relative
		@extend %center
		
	&__in
		position: relative
		height: $height
		@extend %bszbb

	&__message
		position: absolute
		right: 0
		top: 65px

	&__inf
		position: absolute
		left: 6px
		top: 63px


/* header
/* ---------------------------------------END--- */


/* made-by
/* --------------------------------------------- */

.made-by
	a
		+link-color ($color_visited: none)

/* made-by
/* ---------------------------------------END--- */



/* txt-light
/* --------------------------------------------- */

.txt-light
	font-style: italic
	color: $text_color_light2

/* txt-light
/* ---------------------------------------END--- */



/* txt-center
/* --------------------------------------------- */

.txt-center
	text-align: center

/* txt-center
/* ---------------------------------------END--- */


/* footer
/* --------------------------------------------- */

.footer
	&__body
		@extend %center
		display: table

	&__i
		height: 68px
		display: table-cell
		vertical-align: middle
		&_made-by
			

/* footer
/* ---------------------------------------END--- */


/* counters
/* --------------------------------------------- */

.counters
	position: relative
	top: 5px
	display: inline-block
	vertical-align: middle
	a
		border-bottom: none
		display: block
	&__i
		display: inline-block
		margin-right: 10px
	img
		display: block

/* counters
/* ---------------------------------------END--- */


/* map
/* --------------------------------------------- */

.map
	//display: none
	height: 505px
	background: #d0cfcf

/* map
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	$logo_w: 250px
	$logo_h: 123px

	display: block
	position: absolute
	width: $logo_w
	height: $logo_h
	border-bottom: none
	top: 38px
	left: 50%
	margin-left: - $logo_w/2

	&__svg
		width: $logo_w
		height: $logo_h

	
/* logo
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */



/* top
/* --------------------------------------------- */

.top
	background: $main_color_dark
	text-transform: uppercase

	&__body
		@extend %center
		@extend %clear
	
	& &__i
		width: (100%/3)
		display: block
		float: left
		text-align: center
		height: 55px
		line-height: 55px
		text-decoration: none
		color: #fff
		border-left: 1px solid #685650
		@extend %bszbb
		+transition-property(background)
		+transition-duration($animation-time)
		+rem(font-size, 13px)

		&:first-child
			border-left: none
		&:hover
			background: $main_color
			+transition-duration($animation-time_fast)


/* top
/* ---------------------------------------END--- */


/* message
/* --------------------------------------------- */

.message
	@extend %font-lobster
	color: $main_color
	line-height: 1.4

	&__big
		+rem(font-size, 29px)
		
	&__small
		+rem(font-size, 18px)

/* message
/* ---------------------------------------END--- */


/* inf
/* --------------------------------------------- */

.inf
	@extend %font-lobster
	color: $main_color
	line-height: 1.4
	&__icon
		&_phone
			width: 10px
			height: 19px
			margin-right: 11px
		&_location
			position: relative
			top: 5px
			width: 13px
			height: 21px
			margin-right: 11px

	&__phone
		+rem(font-size, 29px)
		margin-bottom: 1px
		
	&__address
		+rem(font-size, 18px)

	&__a
		+link-color ($color_visited: none)
		border-bottom-style: dotted

/* inf
/* ---------------------------------------END--- */


/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: -100


/* svg-icons
/* ---------------------------------------END--- */


/* slider
/* --------------------------------------------- */

.slider
	margin-bottom: 22px
	max-width: $page_w_max
	margin: auto

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		position: relative
		
	&__img
		display: block
		max-width: 100%
		height: auto
	
	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next
		display: none

	.bx-wrapper .bx-controls
		
	.bx-wrapper .bx-pager
		text-align: center
		width: 100%
		position: absolute
		top: 100%
		margin-top: -69px
		left: 0
		right: 0
		height: 69px

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: #feffc0
			+opacity(.54)
		
		.bx-pager-item
			position: relative
			top: 20px

		.bx-pager-link
			@extend %bszbb
			width: 27px
			height: 28px
			margin: 0 10px
			border-radius: 50%
			border: 2px solid $main_color
			background: none
			+transition-property(background)
			+transition-duration($animation-time)

		.active,
		.bx-pager-link:hover
			background: $main_color !important

/* slider
/* ---------------------------------------END--- */


/* inside
/* --------------------------------------------- */

.inside
	padding-bottom: 50px
	margin-bottom: 26px

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		display: table
		width: 100%
		
	&__i
		line-height: 1.3
		width: (100%/3)
		position: relative
		margin: 0
		padding: 98px 25px 0 25px
		text-align: center
		display: table-cell
		vertical-align: top
		&:before
			content: ''
			display: block
			position: absolute
			top: 3px
			left: 50%
			background: red

		&_location
			
		&_kitchen

		&_interior


	&__icon
		position: absolute
		top: 0
		left: 50%
		&_location
			top: -7px
			width: 54px
			height: 81px
			margin-left: - (54px/2)

		&_kitchen
			width: 81px
			height: 71px
			margin-left: - (81px/2)

		&_interior
			width: 91px
			height: 70px
			margin-left: - (91px/2)

	&__h
		+rem(font-size, 24px)


/* inside
/* ---------------------------------------END--- */


/* section-h
/* --------------------------------------------- */

.section-h
	+rem(font-size, 40px)
	margin-bottom: 50px
	margin-top: 60px
	font-weight: normal
	color: $main_color2_dark

/* section-h
/* ---------------------------------------END--- */


/* separator
/* --------------------------------------------- */

.separator
	height: 13px
	background: url("../img/separator.png") center 0 no-repeat

/* separator
/* ---------------------------------------END--- */



/* food-steps
/* --------------------------------------------- */

.food-steps
	margin-bottom: 106px
	overflow: hidden
	padding-bottom: 10px

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		display: table
		width: 100%
		
	&__i
		position: relative
		margin: 0
		padding: 222px 0 0 0
		display: table-cell
		vertical-align: top
		text-align: center
		background: url("../img/dash.gif") 0 bottom repeat-x
		@extend %bszbb
		&:before
			content: ''
			display: block
			position: absolute
			top: 10px
			left: 50%

		&_1
			padding-left: 90px
			text-align: left
			&:before
				top: 34px
				+sprite-icon("farm")
				margin-left: - image-width( sprite-path("farm") )/2 - 11

		&_2
			padding-left: 30px
			&:before
				top: 33px
				+sprite-icon("kitchen")
				margin-left: - image-width( sprite-path("kitchen") )/2 + 12

		&_3
			text-align: right
			padding-right: 15px
			&:before
				top: 6px
				+sprite-icon("dish")
				margin-left: - image-width( sprite-path("dish") )/2 + 18


	&__h
		@extend %font-lobster
		position: relative
		top: 19px
		+rem(font-size, 30px)
		display: inline-block
		padding: 0 20px
		background: #fff
		color: $main_color
	
	&__i:first-child &__h:after,
	&__i:last-child &__h:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		width: $big-number
		height: 20px
		background: #fff

	&__i:first-child &__h
		&:after
			left: -$big-number

	&__i:last-child &__h
		&:after
			right: -$big-number


/* food-steps
/* ---------------------------------------END--- */


/* message-section
/* --------------------------------------------- */

.message-section
	background: #f8e07e
	color: $main_color
	@extend %font-lobster
	+rem(font-size, 30px)
	text-align: center
	

	&__body
		@extend %center
		padding: 32px 0
		

/* message-section
/* ---------------------------------------END--- */


/* meals
/* --------------------------------------------- */

.meals

	&__i
		@extend %font-lobster
		+rem(font-size, 30px)
		@extend %bszbb
		line-height: 1.2
		color: $main_color
		position: relative

		&:before,
		&:after
			content: ''
			display: block
			position: absolute

		&_breakfast
			padding-top: 77px
			padding-bottom: 140px
			padding-left: 569px
			&:before
				top: -66px
				left: 3px
				+sprite-icon("breakfast")
			&:after
				top: 241px
				left: 327px
				+sprite-icon("arrow-right")

		&_dinner
			padding-top: 112px
			padding-bottom: 140px
			padding-left: 74px
			&:before
				top: -37px
				right: -18px
				+sprite-icon("dinner")
			&:after
				top: 195px
				left: 320px
				+sprite-icon("arrow-bottom")

		&_supper
			padding-top: 137px
			padding-bottom: 150px
			padding-left: 570px
			&:before
				top: 68px
				left: 34px
				+sprite-icon("supper")

/* meals
/* ---------------------------------------END--- */